/**************************************
 TITLE: myStyle.css
 CREATE DATE: 2/10/17
 PURPOSE: Sets up design of the doc wall
 Original File
 ***************************************/

*{
    margin:0 0 6px;
}
header{
	text-align:left;
	color:white;
	background-color:#009688;
	padding:30px 150px;
}
body {
	background-color: #CCEAE7;	/*	Use the Color Picker to find the hex code of your favorite color
									http://www.w3schools.com/tags/ref_colorpicker.asp */
}
body p {
	padding-left: 2em;
}


li, li a{						/* Define the formatting for the links to the labs */
	list-style: none;
	background-color: #66C0B7;
	text-align: center;
	color: white;
	border-radius: 3px;
	padding: 2px;
}

h2{
	width: 100%;
	color: #32AB9F;
	line-height: 40px;
}
h3{
	color: #32AB9F;
	line-height: 30px;
	text-align: center;
}

#content  {  
	width: 600px;
	margin: auto;
	box-shadow: 0 2px 15px #EEE;
	min-height: 300px;
	padding: 20px;
	border-radius: 25px;
	background-color: #009688;
	border-style: solid;
   	border-color: black;
}

hr{						/* Define the formatting for the <hr /> line between "Course Work" and lab links */
	margin: 10px 0;
	width: 100%;
	size: 600;
	float: left;
}
